<tr>
  <td class="center"><%= index + page_index %></td>
  <td><%= word.content %></td>
  <td>
    <%= render word.answers %>
  </td>
  <td class="center"><%= word.category.name %></td>
  <td class="col-md-3 center">

    <%= link_to edit_admin_word_url(word), remote:true do %>
      <span data-placement="top" data-toggle="tooltip"
        title="<%= t "word.edit" %>" data-toggle="modal"
          data-target=".bd-example-modal-lg">
        <button class="btn btn-primary btn-xs"
          data-title="<%= t "word.edit" %>"
          data-toggle="modal" data-target="#edit" >
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </span>
    <% end %>

    <%= link_to admin_word_url(word),
      remote:true, method: :delete,
        data: {confirm: t("user.confirm_delete")} do %>
      <span data-placement="top" data-toggle="tooltip"
        title="<%= t "word.delete" %>">
        <button class="btn btn-danger btn-xs"
          data-title="<%= t "word.delete" %>"
          data-toggle="modal" data-target="#delete" >
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    <% end %>
  </td>
  <td><%= check_box_tag "word_ids", word.id, false,
    id: "#{word.id}" %>
  </td>
</tr>
