<p>
  <% if @lessons_doing_size > 0 %>
    <%= t("lesson.lesson_doing", lesson_doing_count: @lessons_doing_size) %>
    <% @lessons_doing.each do |lesson| %>
      <%= link_to lesson_url(lesson) do %>
        <%= t "lesson.lesson" %>
        <%= lesson.id %>
      <% end -%>
    <% end %>
  <% end %>
</p>

<p>
  <% if @lessons_finished_size > 0 %>
    <%= t("lesson.lesson_finished", lesson_finished_count: @lessons_finished_size) %>
    <% @lessons_finished.each do |lesson| %>
      <%= link_to lesson_url(lesson) do %>
        <%= t "lesson.lesson" %>
        <%= lesson.id %>
      <% end -%>
    <% end %>
  <% end %>
</p>

<table class="table table-bordered">
  <caption>
    <h3>
      <%= t "lesson.learned", learned_words: @answers_size  %>
    </h3>
  </caption>
  <thead>
    <tr class="center" >
      <th class="center" ><%= t "word.index" %></th>
      <th class="center" id="id01" >
        <%= t "word.words" %>
      </th>
      <th class="center" >
        <%= t "word.answer" %>
      <th class="center col-md-2">
        <span class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t "word.category" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to user_url(
                :correct_answers => params[:correct_answers]) do %>
                <%= t "category.all_category" %>
              <% end %>
            </li>
            <% @categories_search.each do |lesson|%>
              <li>
                <%= link_to user_url(
                  :correct_answers => params[:correct_answers],
                    :category => lesson.category.id) do %>
                  <%= lesson.category.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </span>
      </th>
      <th class="center col-md-2">
        <span class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t "user.learned" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to user_url do %>
                <%= t "user.learned" %>
              <% end %>
            </li>
            <li>
              <%= link_to user_url(
                :category => params[:category],
                  :correct_answers => true) do %>
                <%= t "answer.correct_answers" %>
              <% end %>
            </li>
            <li>
              <%= link_to user_url(
                :category => params[:category],
                  :correct_answers => false) do %>
                <%= t "answer.wrong_answers" %>
              <% end %>
            </li>
          </ul>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each_with_index do |answer, index| %>
      <tr>
        <td class="center">
          <%= index + 1 %>
        </td>
        <td>
          <%= answer.content %>
        </td>
        <td>
          <%= answer.word.content %>
        </td>
        <td>
          <%= answer.word.category.name %>
        </td>
        <td class="center">
          <%= answer.is_correct? ?
            "<span class=\"glyphicon glyphicon-ok\"></span>".html_safe :
              "<span class=\"glyphicon glyphicon-remove-circle\"></span>"
                .html_safe %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <div class="center">
    <%= paginate @answers %>
  </div>
</table>
