<p>
  <% if @lessons_doing.size > 0 %>
    <%= t("lesson.lesson_doing", lesson_doing_count: @lessons_doing.size) %>
    <% @lessons_doing.each do |lesson| %>
      <%= link_to lesson_url(lesson) do %>
        <%= t "lesson.lesson" %>
        <%= lesson.id %>
      <% end -%>
    <% end %>
  <% end %>
</p>

<p>
  <% if @lessons_finished.size > 0 %>
    <%= t("lesson.lesson_finished", lesson_finished_count: @lessons_finished.size) %>
    <% @lessons_finished.each do |lesson| %>
      <%= link_to lesson_url(lesson) do %>
        <%= t "lesson.lesson" %>
        <%= lesson.id %>
      <% end -%>
    <% end %>
  <% end %>
</p>
