<% if @categories.size < 1 %>
  <%= t "category.nil" %>
<% else %>
  <% i = page_index %>
  <% @categories.each do |category| %>
    <tr>
      <td><%= i %></td>
      <td><%= category.name %></td>
      <td><%= category.words.size %></td>
      <td class="col-md-3 center">
        <a data-toggle="modal" data-target="#myModal"
          data-remote="<%= edit_admin_category_path(category) %> #modal-edit-fields" class="btn btn-mini">
          <span data-placement="top" data-toggle="tooltip"
          title="<%= t "category.edit" %>">
          <button class="btn btn-primary btn-xs"
            data-title="<%= t "category.edit" %>"
            data-toggle="modal" data-target="#edit" >
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </a>

        <span data-placement="top" data-toggle="tooltip"
          title="<%= t "category.delete" %>">
          <button class="btn btn-danger btn-xs"
            data-title="<%= t "category.delete" %>"
            data-toggle="modal" data-target="#delete" >
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>
      </td>
    </tr>
    <% i = i + 1 %>
  <% end %>
<% end %>
