<% provide :create, t("category.create") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= t "category.all" %> (<%= t "category.total" %> :
          <%= @categories.size %>)</h3>
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control"
            placeholder="<%= t "search" %>" name="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>

        <div>
          <button type="button" class="btn btn-info btn-sm"
          data-toggle="modal" data-target="#myModal">
          <%= t "category.create" %></button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close"
                  data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><%= t "category.create" %></h4>
                </div>
                <div class="modal-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <%= t "category.create" %></div>
                    <div class="panel-body">
                      <div id="notifi"></div>
                      <%= render "form" %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                    data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover
          table-condensed table-striped">
          <thead>
            <tr>
              <th class="center col-md-1"><%= t "category.index" %></th>
              <th class="center col-md-9"><%= t "category.name" %></th>
              <th class="center col-md-1"><%= t "word.words" %></th>
              <th class="center col-md-1">
                <%= t "category.action" %>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <% if @categories.size < 1 %>
              <%= t "category.nil" %>
            <% else %>
              <% i = page_index %>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= i %></td>
                  <td><%= category.name %></td>
                  <td><%= category.words.size %></td>
                  <td class="col-md-3 center">
                    <a data-toggle="modal" data-target="#myModal"
                      data-remote="<%= edit_admin_category_path(category) %> #modal-edit-fields" class="btn btn-mini">
                      <span data-placement="top" data-toggle="tooltip"
                      title="<%= t "category.edit" %>">
                      <button class="btn btn-primary btn-xs"
                        data-title="<%= t "category.edit" %>"
                        data-toggle="modal" data-target="#edit" >
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                    </a>

                    <span data-placement="top" data-toggle="tooltip"
                      title="<%= t "category.delete" %>">
                      <button class="btn btn-danger btn-xs"
                        data-title="<%= t "category.delete" %>"
                        data-toggle="modal" data-target="#delete" >
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </span>
                  </td>
                </tr>
                <% i = i + 1 %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="center">
          <%= paginate @categories %>
        </div>
      </div>
    </div>
  </div>
</div>
