<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "E-learning", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to t("home.home"), root_url %>
        </li>
        <li>
          <%= link_to t("category.category"), categories_url %>
        </li>
        <li>
          <%= link_to t("word.words"), words_url %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <div class="img-header">
                <% if @current_user.avatar? %>
                  <%= image_tag @current_user.avatar.url(:medium)%>
                <% else %>
                  <img src="<%= image_url("user.png") %>"/>
                <% end %>
                <%= current_user.name %><b class="caret"></b>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><%= t "user.setting" %></li>
              <li><%= link_to t("user.profile"), current_user %></li>
              <li><%= link_to t("user.setting"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("home.logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
         <li>
            <%= link_to signup_path do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= t "home.signup" %>
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              <span class="glyphicon glyphicon-log-in"></span>
              <%= t "home.login" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
